<h2>新規追加</h2>

<%= render "shared/error", obj: @schedule %>

<%= form_with model: @schedule do |f|%>
  <table class = "table table-secondary">
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :startDate, "開始日" %></th>
      <td><%= f.date_field :startDate %></td>
    </tr>
    <tr>
      <th><%= f.label :endDate, "終了日" %></th>
      <td><%= f.date_field :endDate %></td>
    </tr>
    <tr>
      <th><%= f.label :allDay, "終日の場合" %></th>
      <td><%= f.check_box :allDay, {}, '⚪︎', '' %></td>
    </tr>
    <tr>
      <th><%= f.label :memo, "スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div class = "rightSide">
    <ul>
      <li><%= f.submit "保存", class: 'btn btn-primary' %></li>
      <li><%= link_to "キャンセル", :schedules, class: 'btn btn-outline-dark' %></li>
    </ul>
  </div>
<% end %>

